* {
    font-family:sans-serif;
    margin:0;
    padding:0;
}
/*-----------------------------Navbar style-----------------------------*/
.container {
    background-color:#0B0809 ;
    margin-left:auto;
    position:fixed;
    width:100%;
    height:70px;
}
.nav-bar a {
    text-decoration:none;
    color:ivory;
}
.nav-bar ul {
    list-style: none;
}
.logo a {
    padding: 30px;
    font-family: 'Major Mono Display', monospace;
    font-size: 40px;
    font-weight: bold;
}
.container-side{
    background-color:#0B0809;
    margin-left: auto;
    width:150px;
    height:1000px;
}
.nav-bar li {
    padding:15px;
    text-align:center;
    font-size:large;
}
.nav-bar i {
    color:ivory;
    display:block;
    text-align: right;
    padding-top: 6px;
    padding-right: 12px;
    font-size:1.5rem;
}
.nav-bar ul.hide {
    display:none;
}
/*-----------------------------Start style-----------------------------*/
.text-start h1{
    color: ivory;
    font-family: 'Raleway', sans-serif;
    margin-left: 100px;
    margin-top: 100px;
    font-size: 100px;
}
.text-start h2 {
    color: ivory;
    font-family: 'Raleway', sans-serif;
    padding: 10px;
}
.text-start p {
    padding-top: 750px;
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align:center;
    font-size: 20px;
}
.container-start {
    width: 100%;
    height: 969px;
    background-color:#0F0E10;
    overflow: hidden;
}
.title {
    margin-top: 270px;
    word-wrap: break-word;
}
.profile-container {
    margin-top:70px;
    margin-left: 20px;
    height: 900px;
    width: 100%;
    background-size: cover;
    background-image:url("https://images.pexels.com/photos/2710282/pexels-photo-2710282.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-color:#5A5758;
}
.circle-container {
    width: 80px;
    height: 80px;
    border: solid ivory 4px;
    border-radius: 50%;
    margin-right: 42px;
    text-align: center;
}
.links {
    margin-top: 150px;
    display: flex;
}
.links a {
    color: ivory;
    font-size: 50px;
}
.links i {
    padding: 15px;
}
/*-----------------------------Knowlege style-----------------------------*/
.text-information h2 {
    font-family: 'Raleway', sans-serif;
    color:ivory;
    padding: 10%;
    font-weight: bold;
    font-size: 70px;
    text-decoration: underline;
}
.knowledge-block {
    margin-top: 20px;
    width: 90%;
    height: 60px;
    background-color:transparent;
    color: ivory;
}
.text-information p {
    color: #8F989A ;
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    font-size: 60px;
}
.container-information {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-image:url("https://images.pexels.com/photos/115655/pexels-photo-115655.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") ;
    background-color:#5A5758;     
}
.block-info {
    background-color:#262529;
    width: 190px;
    height: 190px;
    word-wrap: break-word;
    margin-top: 15px;
    padding: 15px;
    border-radius: 6px;
}
.block-info i {
    margin: auto;
    font-size: 4rem;
}
.orange i {
    color: #FF5D00 ;
}
.blue-py i {
    color:#0033EF ;
}
.blue i {
    color: #77DEFF ;
}
.yellow i {
    color:#EBE700 ;
}
.green i {
    color: #96D800 ;
}
.blue-react i {
    color:#00B7D8  ;
}
/*-----------------------------Banner styles-----------------------------*/
.banner-container {
    width: 100%;
    height: 800px;
    background-color:#0F0E10;
}
.image-banner {
    position: absolute;
    width: 80%;
    height: 700px;
    background-image: url("https://images.pexels.com/photos/4278035/pexels-photo-4278035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    background-color:#1B2021;
}
.card-banner {
    position: absolute;
    width: 50%;
    height: 300px;
    background-color:#202324;
    margin-top: 480px;
    margin-left: 1100px;
}
.card-banner h2 {
    padding: 10px;
    color: ivory;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 50px;
}
.card-banner p {
    color: ivory;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    padding: 10px;
}
.miniblock {
    width: 100%;
    height: 80px;
    background-color: transparent;
}
.miniblock h3 {
    color: ivory;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    text-decoration: underline;
}
/*-----------------------------My work style-----------------------------*/
.container-work {
    width: 100%;
    height: 600px;
    background-color:#0F0E10;
    display: flex;
}
.text-vertical {
    font-size: large;
    font-weight: bold;
    padding: 30px;
    text-align: center;
    width: 20px;
    word-wrap: break-word;
}
.text-vertical h2 {
    color: ivory;
}
.card {
    margin-top: 50px;
    margin-left: 50px;
    width: 80%;
    height: 380px;
    background-color: #2B3537 ;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 3px, rgba(0, 0, 0, 0.5) 2px, rgba(0, 0, 0, 0.5)7px);
    overflow: hidden;
    border-radius: 10px;
    border: solid 2px #EE0036;
}
.card h3 {
    padding-left: 20px;
    padding-top: 20px;
    color: ivory;
    font-size: 25px;
    text-decoration: underline overline;
}
img {
    width: 80%;
    height: 200px;
}
.image {
    margin-top: 10px;
    margin-left: 15%;
}
.card p {
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    color: ivory;
}
.button-style {
    margin-top: 20px;
    margin-left: 20px;
    align-items: center;
    background-color: #0B0809;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
}
.button-style:hover {
    background-color:#EE0036;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 3px, rgba(0, 0, 0, 0.5) 2px, rgba(0, 0, 0, 0.5)7px);
}
.button-style a {
    color: ivory;
    text-decoration: none;
    font-size: 18px;
}
